<a href="https://colab.research.google.com/github/Dataniel31/Proyecto1-AnalisisDe-Pel-culasySeries-de-TVenIMDB/blob/main/Proyecto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
#Importa librerias necesarias para la solucion
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

PASO 1 -> CARGA Y LIMPIEZA DE DATOS

In [58]:
#crear el dataframe
df=pd.read_csv('imdb_top_1000.csv')

print(df.shape)
df.head()

(1000, 16)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [59]:

#Cambiar los encabezados de la tabla a español
df.columns = [
    'Enlace al Póster', 'Título', 'Año de lanzamiento', 'Certificación', 
    'Duración', 'Género', 'Calificación en IMDB', 'Resumen', 
    'Puntuación en Metacritic', 'Director', 'Actor Principal 1', 
    'Actor Principal 2', 'Actor Principal 3', 'Actor Principal 4', 
    'Número de votos', 'Recaudación bruta'
]

#Obtener el numero de filas no nulas y el tipo de dato
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Enlace al Póster          1000 non-null   object
 1   Título                    1000 non-null   object
 2   Año de lanzamiento        1000 non-null   object
 3   Certificación             899 non-null    object
 4   Duración                  1000 non-null   object
 5   Género                    1000 non-null   object
 6   Calificación en IMDB      1000 non-null   float64
 7   Resumen                   1000 non-null   object
 8   Puntuación en Metacritic  843 non-null    float64
 9   Director                  1000 non-null   object
 10  Actor Principal 1         1000 non-null   object
 11  Actor Principal 2         1000 non-null   object
 12  Actor Principal 3         1000 non-null   object
 13  Actor Principal 4         1000 non-null   object
 14  Número de votos           1000 non-null   int64
 15  Recaudación bruta         831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [60]:
#Eliminamos todas las filas que contienen algun valor nulo
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Enlace al Póster          714 non-null    object
 1   Título                    714 non-null    object
 2   Año de lanzamiento        714 non-null    object
 3   Certificación             714 non-null    object
 4   Duración                  714 non-null    object
 5   Género                    714 non-null    object
 6   Calificación en IMDB      714 non-null    float64
 7   Resumen                   714 non-null    object
 8   Puntuación en Metacritic  714 non-null    float64
 9   Director                  714 non-null    object
 10  Actor Principal 1         714 non-null    object
 11  Actor Principal 2         714 non-null    object
 12  Actor Principal 3         714 non-null    object
 13  Actor Principal 4         714 non-null    object
 14  Número de votos           714 non-null    int64
 15  Recaudación bruta         714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 94.8+ KB

ANALIZANDO LAS COLUMNAS Y EL TIPO DE VARIABLE QUE TIENE CADA COLUMNA

SE LLEGA A LA CONCLUSION QUE DEBEMOS CAMBIAR EL TIPO DE VARIABLE DE LAS SIGUIENTES COLUMNAS

Año de lanzamiento ->  int (Los años son enteros)

In [63]:
print(df['Año de lanzamiento'].unique())
registro = df[df['Año de lanzamiento'] == 'PG']
registro

['1994' '1972' '2008' '1974' '1957' '2003' '1993' '2010' '1999' '2001'
 '1966' '2002' '1990' '1980' '1975' '2019' '2014' '1998' '1997' '1995'
 '1991' '1977' '1954' '2011' '2006' '2000' '1988' '1985' '1968' '1960'
 '1942' '1936' '1931' '2018' '2016' '2017' '2012' '2009' '1981' '1979'
 '1964' '2004' '1992' '1987' '1986' '1984' '1983' '1976' '1973' '1971'
 '1965' '1962' '1959' '1958' '1952' '1944' '1941' '2013' '2007' '2005'
 '1989' '1963' '1950' '1948' '2015' '1996' '1982' '1978' '1967' '1951'
 '1949' '1940' '1939' '1934' '1970' '1969' '1961' '1946' '1930' '1938'
 '1933' 'PG' '1953']

,Enlace al Póster,Título,Año de lanzamiento,Certificación,Duración,Género,Calificación en IMDB,Resumen,Puntuación en Metacritic,Director,Actor Principal 1,Actor Principal 2,Actor Principal 3,Actor Principal 4,Número de votos,Recaudación bruta
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [66]:
df.loc[df['Año de lanzamiento'] == 'PG', 'Año de lanzamiento'] = '1970'
registro = df[df['Título'] == 'Apollo 13']
registro

,Enlace al Póster,Título,Año de lanzamiento,Certificación,Duración,Género,Calificación en IMDB,Resumen,Puntuación en Metacritic,Director,Actor Principal 1,Actor Principal 2,Actor Principal 3,Actor Principal 4,Número de votos,Recaudación bruta
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,1970,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [67]:
print(df['Año de lanzamiento'].unique())

['1994' '1972' '2008' '1974' '1957' '2003' '1993' '2010' '1999' '2001'
 '1966' '2002' '1990' '1980' '1975' '2019' '2014' '1998' '1997' '1995'
 '1991' '1977' '1954' '2011' '2006' '2000' '1988' '1985' '1968' '1960'
 '1942' '1936' '1931' '2018' '2016' '2017' '2012' '2009' '1981' '1979'
 '1964' '2004' '1992' '1987' '1986' '1984' '1983' '1976' '1973' '1971'
 '1965' '1962' '1959' '1958' '1952' '1944' '1941' '2013' '2007' '2005'
 '1989' '1963' '1950' '1948' '2015' '1996' '1982' '1978' '1967' '1951'
 '1949' '1940' '1939' '1934' '1970' '1969' '1961' '1946' '1930' '1938'
 '1933' '1953']

In [68]:
df['Año de lanzamiento'] = df['Año de lanzamiento'].astype(int)


Duracion  ->  int ()

In [70]:
print(df['Duración'].unique())
df['Duración'] = df['Duración'].str.replace(' min', '').astype(int)

['142 min' '175 min' '152 min' '202 min' '96 min' '201 min' '154 min'
 '195 min' '148 min' '139 min' '178 min' '161 min' '179 min' '136 min'
 '146 min' '124 min' '133 min' '132 min' '169 min' '130 min' '125 min'
 '189 min' '116 min' '127 min' '118 min' '121 min' '207 min' '122 min'
 '106 min' '112 min' '151 min' '150 min' '155 min' '119 min' '110 min'
 '88 min' '137 min' '165 min' '109 min' '102 min' '87 min' '126 min'
 '117 min' '181 min' '149 min' '105 min' '164 min' '170 min' '98 min'
 '101 min' '113 min' '134 min' '115 min' '147 min' '95 min' '123 min'
 '131 min' '153 min' '108 min' '104 min' '89 min' '81 min' '99 min'
 '160 min' '114 min' '129 min' '228 min' '128 min' '103 min' '107 min'
 '140 min' '138 min' '180 min' '158 min' '156 min' '135 min' '86 min'
 '162 min' '91 min' '172 min' '145 min' '93 min' '120 min' '80 min'
 '111 min' '100 min' '141 min' '92 min' '224 min' '188 min' '94 min'
 '183 min' '212 min' '238 min' '144 min' '143 min' '186 min' '83 min'
 '76 min' '90 min' '84 min' '191 min' '197 min' '174 min' '209 min'
 '97 min' '82 min' '85 min' '168 min' '157 min' '166 min' '192 min'
 '194 min' '159 min' '193 min' '72 min' '163 min' '78 min']

In [71]:
print(df['Duración'].unique())

[142 175 152 202  96 201 154 195 148 139 178 161 179 136 146 124 133 132
 169 130 125 189 116 127 118 121 207 122 106 112 151 150 155 119 110  88
 137 165 109 102  87 126 117 181 149 105 164 170  98 101 113 134 115 147
  95 123 131 153 108 104  89  81  99 160 114 129 228 128 103 107 140 138
 180 158 156 135  86 162  91 172 145  93 120  80 111 100 141  92 224 188
  94 183 212 238 144 143 186  83  76  90  84 191 197 174 209  97  82  85
 168 157 166 192 194 159 193  72 163  78]

Recaudacion -> float (Representa dinero)

In [73]:
print(df['Recaudación bruta'].unique())
df['Recaudación bruta'] = pd.to_numeric(df['Recaudación bruta'].str.replace(',', ''), errors='coerce')

['28,341,469' '134,966,411' '534,858,444' '57,300,000' '4,360,000'
 '377,845,905' '107,928,762' '96,898,818' '292,576,195' '37,030,102'
 '315,544,750' '330,252,182' '6,100,000' '342,551,365' '171,479,930'
 '46,836,394' '290,475,067' '112,000,000' '53,367,844' '188,020,017'
 '7,563,397' '10,055,859' '216,540,909' '136,801,374' '57,598,247'
 '100,125,643' '130,742,922' '322,740,140' '269,061' '335,451,311'
 '13,092,000' '13,182,281' '53,089,891' '132,384,315' '32,572,577'
 '187,705,427' '6,719,864' '23,341,568' '19,501,238' '422,783,777'
 '204,843,350' '11,990,401' '210,609,762' '5,321,508' '32,000,000'
 '1,024,560' '163,245' '19,181' '1,661,096' '5,017,246' '190,241,310'
 '858,373,000' '678,815,482' '209,726,015' '162,805,434' '448,139,099'
 '6,532,908' '223,808,164' '11,286,112' '707,481' '25,544,867' '2,375,308'
 '248,159,971' '44,017,374' '83,471,511' '78,900,000' '275,902'
 '36,764,313' '159,227,644' '687,185' '7,098,492' '6,857,096'
 '120,540,719' '34,400,301' '33,225,499' '30,328,156' '3,635,482'
 '130,096,601' '138,433,435' '933,933' '191,796,233' '75,600,000'
 '2,832,029' '46,357,676' '85,160,248' '51,973,029' '45,598,982'
 '309,125,409' '11,487,676' '28,262,574' '159,600,000' '6,207,725'
 '56,954,992' '15,000,000' '44,824,144' '18,600,000' '13,275,000'
 '3,200,000' '8,819,028' '5,720,000' '1,585,634' '85,080,171' '54,513,740'
 '6,391,436' '13,657,115' '128,012,934' '293,004,164' '116,900,694'
 '1,113,541' '40,222,514' '37,634,615' '415,004,880' '70,511,035'
 '206,852,432' '5,509,040' '4,711,096' '170,742,341' '3,897,569'
 '64,616,940' '67,436,818' '42,438,300' '101,157,447' '197,171,806'
 '1,105,564' '83,008,852' '4,135,750' '23,383,987' '1,229,197'
 '12,100,000' '25,000,000' '12,562' '10,177' '5,014,000' '3,759,854'
 '2,006,788' '3,492,754' '226,277,068' '14,677,674' '3,107,072'
 '59,100,318' '167,767,189' '67,209,615' '356,461,711' '56,671,993'
 '26,947,624' '117,624,028' '45,055,776' '857,524' '61,002,302'
 '154,058,340' '148,095,302' '381,011,219' '1,498,210' '217,581,231'
 '18,354,356' '74,283,625' '100,492,203' '23,530,892' '1,111,061'
 '5,820,649' '14,131' '70,099,045' '380,843,261' '164,615,351' '5,383,834'
 '289,916,256' '70,147' '293,506,292' '259,127' '125,618,201' '348,660'
 '17,498,804' '2,734,044' '16,501,785' '24,611,975' '5,535,405'
 '4,043,686' '600,200' '402,453,882' '25,010,410' '95,860,116'
 '52,287,414' '138,530,565' '2,181,987' '495,770' '13,782,838'
 '22,244,207' '4,971,340' '32,868,943' '20,045,115' '48,979,328'
 '117,235,247' '29,000,000' '30,933,743' '16,217,773' '4,050,000'
 '74,700,000' '44,908,000' '9,600,000' '3,969,893' '449,191' '198,676,459'
 '151,101,803' '51,739,495' '228,433,663' '341,268,248' '1,506,975'
 '132,422,809' '5,566,534' '1,010,414' '2,625,803' '91,125,683'
 '333,176,600' '92,054,159' '25,568,251' '216,428,042' '183,637,894'
 '17,738,570' '138,797,449' '169,708,112' '363,070,709' '106,662'
 '4,018,695' '141,319,928' '106,954,678' '8,060' '623,279,547' '4,445,756'
 '27,298,285' '163,566,459' '57,366,262' '227,471,070' '238,507'
 '74,103,820' '5,990,075' '206,445,654' '167,445,960' '66,208,183'
 '2,380,788' '2,086,345' '61,649,911' '1,787,378' '169,659' '305,413,918'
 '66,257,002' '261,441,092' '1,530,386' '1,480,006' '22,455,976'
 '4,184,036' '6,203,044' '1,647,780' '5,595,428' '23,159,305' '24,475,416'
 '13,417,292' '57,141,459' '515,905' '75,082,668' '70,906,973' '4,496,583'
 '63,895,607' '217,350,219' '70,405,498' '218,967,620' '184,208,848'
 '27,545,445' '178,800,000' '30,857,814' '3,333,969' '4,542,825'
 '38,400,000' '52,767,889' '30,177,511' '39,200,000' '260,000,000'
 '50,000,000' '86,300,000' '53,267,000' '232,906,145' '29,133,000'
 '80,500,000' '541,940' '102,308,889' '33,395,426' '104,945,305'
 '163,214,286' '111,722,000' '14,500,000' '8,284,000' '19,516,000'
 '12,535,000' '2,237,659' '17,570,324' '8,000,000' '23,650,000' '55,000'
 '2,076,020' '3,270,000' '165,359,751' '3,313,513' '2,000,000'
 '18,095,701' '258,168' '32,015,231' '5,202,582' '5,875,006' '3,237,118'
 '315,058,289' '32,381,218' '349,555' '100,546,139' '936,662,225'
 '8,114,627' '233,921,534' '44,671,682' '100,206,256' '6,739,492'
 '7,000,000' '2,084,637' '5,009,677' '2,122,065' '115,646,235'
 '26,236,603' '25,379,975' '257,730,019' '7,757,130' '13,756,082'
 '2,280,348' '124,987,023' '21,002,919' '3,635,164' '318,412,101'
 '13,542,874' '90,135,191' '249,358,727' '53,710,019' '9,284,265'
 '1,059,830' '1,000,045' '121,661,683' '1,221,261' '35,552,383'
 '32,534,850' '7,220,243' '245,852,179' '26,400,640' '2,201,126'
 '12,281,500' '1,324,974' '36,948,322' '56,362,352' '14,743,391'
 '18,254,702' '76,270,454' '40,084,041' '9,929,135' '188,751' '20,605,209'
 '57,229,890' '45,700,000' '37,823,676' '5,100,000' '70,600,000' '61,001'
 '198,809' '61,700,000' '12,064,472' '24,379,978' '13,474,588'
 '30,000,000' '9,450,000' '7,630,000' '10,464,000' '3,981,000'
 '10,000,000' '2,402,067' '188,373,161' '169,607,287' '40,442,052'
 '48,023,088' '47,695,120' '435,266' '532,177,324' '408,084,349'
 '54,117,416' '108,101,214' '6,735,118' '1,330,596' '4,231,500'
 '222,527,828' '15,322,921' '5,209,580' '434,038,008' '85,433'
 '45,512,466' '177,002,924' '70,259,870' '102,515,793' '107,100,855'
 '161,197,785' '547,292' '258,366,855' '2,222,647' '10,095,170'
 '93,617,009' '145,000,989' '9,030,581' '9,439,923' '303,003,568'
 '50,927,067' '35,061,555' '130,164,645' '760,507,625' '3,600'
 '50,866,635' '59,891,098' '23,637,265' '127,509,326' '2,921,738' '1,305'
 '38,405,088' '5,128,124' '128,985' '25,514,517' '119,519,402'
 '81,001,787' '16,756,372' '181,655' '7,002,255' '54,234,062' '2,892,011'
 '115,654,751' '128,078,872' '8,264,530' '233,632,142' '25,812'
 '28,965,197' '32,481,825' '267,665,011' '659,325,379' '12,339,633'
 '48,323,648' '4,040,691' '5,887,457' '9,170,214' '56,505,065'
 '32,416,586' '22,954,968' '183,875,760' '17,266,971' '2,015,810'
 '1,999,955' '57,504,069' '61,276,872' '52,096,475' '26,830,000'
 '118,500,000' '34,603,943' '59,735,548' '5,923,044' '70,136,369'
 '1,436,000' '61,503,218' '98,467,863' '45,875,171' '34,700,291'
 '238,632,124' '21,500,000' '2,500,000' '435,110,554' '106,260,000'
 '31,800,000' '4,420,000' '193,817' '16,056,255' '42,765,000' '4,000,000'
 '44,785,053' '72,000,000' '102,272,727' '39,100,000' '2,616,000'
 '324,591,735' '33,800,859' '176,040,665' '220,159,104' '3,358,518'
 '3,333,000' '765,127' '35,893,537' '128,261,724' '124,872,350'
 '6,743,776' '42,340,598' '2,199,675' '1,122,527' '259,766,572'
 '17,654,912' '189,422,889' '1,339,152' '56,816,662' '257,760,692'
 '274,092,705' '228,778,661' '96,962,694' '146,408,305' '277,322,503'
 '304,360,277' '132,092,958' '136,025,503' '32,391,374' '295,983,305'
 '15,090,400' '18,593,156' '881,302' '35,739,802' '1,752,214' '25,442,958'
 '412,544' '17,605,861' '33,080,084' '22,494,487' '1,054,361' '871,577'
 '200,821,936' '4,398,392' '83,043,761' '53,606,916' '54,580,300'
 '17,108,591' '176,241,941' '1,082,715' '75,331,600' '44,585,453'
 '290,013,036' '77,911,774' '75,286,229' '111,110,575' '4,890,878'
 '4,064,200' '15,539,266' '40,311,852' '22,245,861' '108,638,745'
 '104,454,762' '141,072' '21,995,263' '3,029,081' '183,417,150' '151,086'
 '45,512,588' '52,037,603' '10,824,921' '76,631,907' '17,105,219'
 '22,858,926' '148,478,011' '63,540,020' '4,065,116' '41,909,762'
 '35,811,509' '56,116,183' '10,019,307' '21,848,932' '3,151,130'
 '6,110,979' '77,324,422' '27,281,507' '48,169,908' '75,505,856'
 '10,725,228' '141,340,178' '82,418,501' '6,153,939' '5,080,409'
 '156,452,370' '1,544,889' '43,984,230' '22,238,696' '7,153,487'
 '8,551,228' '10,631,333' '10,600,000' '54,000,000' '78,912,963'
 '47,212,904' '54,800,000' '83,400,000' '47,000,000' '1,924,733'
 '119,500,000' '29,800,000' '7,056,013' '15,630,710' '35,900,000'
 '44,527,234' '28,350,000' '51,081,062' '11,403,529' '4,905,000' '536,118'
 '76,408,097' '26,020,957' '142,502,728' '566,356' '5,904,366'
 '24,801,212' '13,122,642' '845,464' '389,813,101' '107,825,862'
 '18,340,051' '72,313,754' '608,581,744' '248,757,044' '46,889,293'
 '109,767,581' '1,092,800' '26,862,450' '37,707,719' '208,545,589'
 '4,105,123' '41,003,371' '19,202,743' '215,288,866' '171,243,005'
 '1,008,098' '251,513,985' '35,014,192' '48,071,303' '75,605,492'
 '3,185,812' '75,590,286' '209,028,679' '255,959,475' '9,422,422'
 '69,951,824' '17,114,882' '38,634,938' '88,513,495' '20,300,218'
 '10,301,706' '24,633,730' '39,868,642' '301,959,197' '210,614,939'
 '23,089,926' '107,509,799' '24,149,632' '56,000,369' '3,081,925'
 '697,181' '548,707' '6,167,817' '5,739,376' '16,290,476' '45,289'
 '51,680,613' '13,060,843' '57,938,693' '45,064,915' '52,364,010'
 '13,622,333' '317,575,550' '96,522,687' '52,990,775' '51,401,758'
 '132,072,926' '50,668,906' '15,070,285' '7,267,585' '36,400,491'
 '120,620,254' '10,680,275' '14,378,331' '49,100,000' '3,796,699'
 '43,182,776' '100,012,499' '1,037,847' '71,516,617' '173,837,933'
 '1,464,625' '40,903,593' '7,993,039' '52,929,168' '453,243' '1,794,187'
 '285,761,243' '66,666,062' '92,823,600' '111,543,479' '78,756,177'
 '49,530,280' '65,207,127' '2,150,000' '119,285,432' '12,465,371'
 '22,490,039' '76,657,000' '43,000,000' '35,000,000' '132,088,635'
 '959,000' '696,690' '1,378,435' '141,843,612' '13,780,024' '30,500,000']

In [74]:
print(df['Recaudación bruta'].unique())

[ 28341469 134966411 534858444  57300000   4360000 377845905 107928762
  96898818 292576195  37030102 315544750 330252182   6100000 342551365
 171479930  46836394 290475067 112000000  53367844 188020017   7563397
  10055859 216540909 136801374  57598247 100125643 130742922 322740140
    269061 335451311  13092000  13182281  53089891 132384315  32572577
 187705427   6719864  23341568  19501238 422783777 204843350  11990401
 210609762   5321508  32000000   1024560    163245     19181   1661096
   5017246 190241310 858373000 678815482 209726015 162805434 448139099
   6532908 223808164  11286112    707481  25544867   2375308 248159971
  44017374  83471511  78900000    275902  36764313 159227644    687185
   7098492   6857096 120540719  34400301  33225499  30328156   3635482
 130096601 138433435    933933 191796233  75600000   2832029  46357676
  85160248  51973029  45598982 309125409  11487676  28262574 159600000
   6207725  56954992  15000000  44824144  18600000  13275000   3200000
   8819028   5720000   1585634  85080171  54513740   6391436  13657115
 128012934 293004164 116900694   1113541  40222514  37634615 415004880
  70511035 206852432   5509040   4711096 170742341   3897569  64616940
  67436818  42438300 101157447 197171806   1105564  83008852   4135750
  23383987   1229197  12100000  25000000     12562     10177   5014000
   3759854   2006788   3492754 226277068  14677674   3107072  59100318
 167767189  67209615 356461711  56671993  26947624 117624028  45055776
    857524  61002302 154058340 148095302 381011219   1498210 217581231
  18354356  74283625 100492203  23530892   1111061   5820649     14131
  70099045 380843261 164615351   5383834 289916256     70147 293506292
    259127 125618201    348660  17498804   2734044  16501785  24611975
   5535405   4043686    600200 402453882  25010410  95860116  52287414
 138530565   2181987    495770  13782838  22244207   4971340  32868943
  20045115  48979328 117235247  29000000  30933743  16217773   4050000
  74700000  44908000   9600000   3969893    449191 198676459 151101803
  51739495 228433663 341268248   1506975 132422809   5566534   1010414
   2625803  91125683 333176600  92054159  25568251 216428042 183637894
  17738570 138797449 169708112 363070709    106662   4018695 141319928
 106954678      8060 623279547   4445756  27298285 163566459  57366262
 227471070    238507  74103820   5990075 206445654 167445960  66208183
   2380788   2086345  61649911   1787378    169659 305413918  66257002
 261441092   1530386   1480006  22455976   4184036   6203044   1647780
   5595428  23159305  24475416  13417292  57141459    515905  75082668
  70906973   4496583  63895607 217350219  70405498 218967620 184208848
  27545445 178800000  30857814   3333969   4542825  38400000  52767889
  30177511  39200000 260000000  50000000  86300000  53267000 232906145
  29133000  80500000    541940 102308889  33395426 104945305 163214286
 111722000  14500000   8284000  19516000  12535000   2237659  17570324
   8000000  23650000     55000   2076020   3270000 165359751   3313513
   2000000  18095701    258168  32015231   5202582   5875006   3237118
 315058289  32381218    349555 100546139 936662225   8114627 233921534
  44671682 100206256   6739492   7000000   2084637   5009677   2122065
 115646235  26236603  25379975 257730019   7757130  13756082   2280348
 124987023  21002919   3635164 318412101  13542874  90135191 249358727
  53710019   9284265   1059830   1000045 121661683   1221261  35552383
  32534850   7220243 245852179  26400640   2201126  12281500   1324974
  36948322  56362352  14743391  18254702  76270454  40084041   9929135
    188751  20605209  57229890  45700000  37823676   5100000  70600000
     61001    198809  61700000  12064472  24379978  13474588  30000000
   9450000   7630000  10464000   3981000  10000000   2402067 188373161
 169607287  40442052  48023088  47695120    435266 532177324 408084349
  54117416 108101214   6735118   1330596   4231500 222527828  15322921
   5209580 434038008     85433  45512466 177002924  70259870 102515793
 107100855 161197785    547292 258366855   2222647  10095170  93617009
 145000989   9030581   9439923 303003568  50927067  35061555 130164645
 760507625      3600  50866635  59891098  23637265 127509326   2921738
      1305  38405088   5128124    128985  25514517 119519402  81001787
  16756372    181655   7002255  54234062   2892011 115654751 128078872
   8264530 233632142     25812  28965197  32481825 267665011 659325379
  12339633  48323648   4040691   5887457   9170214  56505065  32416586
  22954968 183875760  17266971   2015810   1999955  57504069  61276872
  52096475  26830000 118500000  34603943  59735548   5923044  70136369
   1436000  61503218  98467863  45875171  34700291 238632124  21500000
   2500000 435110554 106260000  31800000   4420000    193817  16056255
  42765000   4000000  44785053  72000000 102272727  39100000   2616000
 324591735  33800859 176040665 220159104   3358518   3333000    765127
  35893537 128261724 124872350   6743776  42340598   2199675   1122527
 259766572  17654912 189422889   1339152  56816662 257760692 274092705
 228778661  96962694 146408305 277322503 304360277 132092958 136025503
  32391374 295983305  15090400  18593156    881302  35739802   1752214
  25442958    412544  17605861  33080084  22494487   1054361    871577
 200821936   4398392  83043761  53606916  54580300  17108591 176241941
   1082715  75331600  44585453 290013036  77911774  75286229 111110575
   4890878   4064200  15539266  40311852  22245861 108638745 104454762
    141072  21995263   3029081 183417150    151086  45512588  52037603
  10824921  76631907  17105219  22858926 148478011  63540020   4065116
  41909762  35811509  56116183  10019307  21848932   3151130   6110979
  77324422  27281507  48169908  75505856  10725228 141340178  82418501
   6153939   5080409 156452370   1544889  43984230  22238696   7153487
   8551228  10631333  10600000  54000000  78912963  47212904  54800000
  83400000  47000000   1924733 119500000  29800000   7056013  15630710
  35900000  44527234  28350000  51081062  11403529   4905000    536118
  76408097  26020957 142502728    566356   5904366  24801212  13122642
    845464 389813101 107825862  18340051  72313754 608581744 248757044
  46889293 109767581   1092800  26862450  37707719 208545589   4105123
  41003371  19202743 215288866 171243005   1008098 251513985  35014192
  48071303  75605492   3185812  75590286 209028679 255959475   9422422
  69951824  17114882  38634938  88513495  20300218  10301706  24633730
  39868642 301959197 210614939  23089926 107509799  24149632  56000369
   3081925    697181    548707   6167817   5739376  16290476     45289
  51680613  13060843  57938693  45064915  52364010  13622333 317575550
  96522687  52990775  51401758 132072926  50668906  15070285   7267585
  36400491 120620254  10680275  14378331  49100000   3796699  43182776
 100012499   1037847  71516617 173837933   1464625  40903593   7993039
  52929168    453243   1794187 285761243  66666062  92823600 111543479
  78756177  49530280  65207127   2150000 119285432  12465371  22490039
  76657000  43000000  35000000 132088635    959000    696690   1378435
 141843612  13780024  30500000]